@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,300&family=Noto+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ########### HTML Elements ########### */
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

ul li {
  list-style: none;
}
a {
  font-size: 1.6rem;
  text-decoration: none;
}

p,
li {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
  font-weight: 500;
  text-transform: uppercase;
}

/* ###################### Utility Classes ######################  */

.bg-dark {
  background: #263238;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.lg-heading {
  font-size: 3.5rem;
}
.md-heading {
  font-size: 2.2rem;
}

.text-red {
  color: #e63946;
}

.text-black {
  color: #333333;
}

.text-light {
  color: #f4f4f4;
}

.text-gray {
  color: #555555;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0;
}

.btn-primary {
  background-color: #fff;
  border-radius: 10rem;
}
.btn-primary:hover {
  background-color: #ddd;
}

.btn-secondary {
  border: 2px solid #e63946;
  color: #e63946;
  border-radius: 1.5em;
  background: #fff;
}

.btn-secondary:hover {
  background-color: #fcf3f2;
}

/* ############# Header #############  */

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/125.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  padding: 1rem;
}
.navbar a {
  color: white;
  text-transform: uppercase;
}
.Logo {
  float: left;
}
.navbar .nav-items {
  float: right;
  margin-top: 1rem;
}
.navbar::after {
  content: "";
  display: block;
  clear: both;
}
.nav-item {
  display: inline-block;
  padding: 1rem;
}

.navbar a {
  padding-bottom: 0.3rem;
}
.navbar a:hover {
  border-bottom: 1px solid #fff;
}

/* ############ HEADER CONTENT ############  */

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-content h1 {
  font-weight: 700;
  text-transform: uppercase;
}
.header-content p {
  text-transform: uppercase;
}

/* ################# SHOWCASE SECTION ############# */

.showcase {
  padding: 10rem 0;
  background: #ddd;
}
.row {
  height: 350px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px #aaa;
}
.row1 {
  margin-bottom: 10rem;
}
.row1 .img-box,
.row2 .text-box {
  float: left;
  width: 50%;
}
.row1 .text-box,
.row2 .img-box {
  float: right;
  width: 50%;
}

.row .img-box {
  height: 100%;
}
.row .text-box {
  padding: 3rem;
}

.row .img-box img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

row::after {
  content: "";
  display: block;
  clear: both;
}

/* ################# Section Features ########## */
.features {
  padding: 10rem 0;
}
.wrapper-box {
  box-shadow: 5px 5px 20px 0px #1d1b1b66;
}
.box {
  text-align: center;
  width: 33.3333333%;
  float: left;
  padding: 2rem;
}
.box1,
.box3 {
  background: #263238;
}
.box2 {
  background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
}

.wrapper-box::after {
  content: "";
  display: block;
  clear: both;
}

/* ####################### Footer ################## */

.footer {
  background: #263238;
  text-align: center;
  padding: 2rem 0;
  color: #f4f4f4;
}
.footer i {
  margin: 2rem;
}

/* ################### About Page Styling ################ */

.about {
  padding: 5rem 0;
}
.about-heading::after {
  content: "";
  display: block;
  border: 3px solid #e63946;
  width: 100%;
}
.About-description {
  padding: 0.8em 0;
}
.about-content {
  margin-top: 2rem;
  text-align: center;
}
.abtBox {
  font-weight: 500;
}
.abtBox1 {
  width: 50%;
  float: left;
}
.abtBox2 {
  width: 50%;
  float: right;
}
.about-content::after {
  content: "";
  display: block;
  clear: both;
}
.about-content li::before {
  content: "\2713";
  color: #e63946;
  font-weight: bold;
  padding-right: 1rem;
}

.about-number {
  margin-top: 3rem;
}
.abtnumber {
  text-align: center;
  width: 25%;
  float: left;
}
.abtnumber h2 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 3rem;
  color: #e63946;
}
.abtnumber p {
  font-weight: 700;
  color: #555555;
  font-size: 1.8rem;
}
.about-number::after {
  content: "";
  display: block;
  clear: both;
}

.abt-footer {
  margin-top: 2rem;
  padding: 1rem;
  color: #f4f4f4;
  background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
  box-shadow: 5px 5px 10px #00000050;
}
.abt-footer-left {
  float: left;
  width: 60%;
}
.abt-footer-right {
  float: right;
  width: 40%;
  text-align: center;
  text-align: right;
}
.abt-footer::after {
  content: "";
  display: block;
  clear: both;
}

.abt-footer-content {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1.5rem;
}
.btn-abt {
  text-align: center;
  display: inline-block;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  border: 4px solid white;
  padding: 0.3em 2.5em;
  letter-spacing: 0.5rem;
  color: #f4f4f4;
}

/* ##################################### CONTACT PAGE STYLING###################### */
.contact-form {
  padding: 5rem 0;
  background: #f4f4f4;
}
.form-wrapper {
}
.form-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
.company-add {
  float: left;
  width: 48%;
  color: #555555;
  background-color: #fff;
  height: 740px;
  padding: 1rem;
}

.form {
  font-size: 1.6rem;
  float: right;
  width: 48%;
  background-color: #fff;
  padding: 1rem;
  height: 740px;
}
.addinfo {
  margin-bottom: 3rem;
}

.company-add h2 {
  text-transform: uppercase;
  font-weight: 400;
}
.company-add h2 i {
  margin-right: 0.2em;
}

.company-img {
  object-fit: cover;
  object-position: right;
  max-width: 90%;
  min-height: 40rem;
}
.form h2 {
  letter-spacing: 0.2em;
  font-size: 2.5rem;
}
.form h2::after {
  content: "";
  display: block;
  border: 3px solid #e63946;
  width: 100%;
}

label {
  display: block;
  font-size: 1.5rem;
}
label::after {
  content: "*";
  color: #e63946;
}
input {
  width: 100%;
  padding: 0.5rem;
}

.form-inputs {
  margin-bottom: 1.2rem;
}
textarea {
  width: 100%;
  height: 300px;
  padding: 1rem;
}

.summitBTN {
  display: block;
  margin: 0 auto;
  padding: 0.5em 3em;
  font-size: 1.8rem;
  text-transform: uppercase;
  background: #e63946;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

/* ######################### Media Queries ################# */

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .navbar .nav-items,
  .navbar .Logo {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
  }
  .header-content .descriptipn {
    display: none;
  }
  .header-content a {
    padding: 0.5em;
    font-size: 2rem;
    border-radius: 25px;
  }
  .row {
    height: auto;
    width: 100%;
  }
  .row .img-box,
  .row .text-box {
    float: none;
    width: 100%;
    text-align: center;
  }
  .box {
    float: none;
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: 5px 5px 20px 0px #1d1b1b66;
  }
  .box2,
  .box3 {
    margin-top: 7rem;
  }

  .wrapper-box {
    box-shadow: none;
  }
  .abtBox {
    float: none;
    width: 100%;
  }
  .abt-footer-left,
  .abt-footer-right {
    float: none;
    width: 100%;
    text-align: center;
  }
  .company-add,
  .form {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
  }
}

@media (min-width: 501px) and (max-width: 789px) {
  html {
    font-size: 50%;
  }
  p {
    font-size: 1.8rem;
  }
  .navbar .nav-items,
  .navbar .Logo {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
  }

  .header-content a {
    padding: 0.5em;
    font-size: 2rem;
    border-radius: 25px;
  }
  .row {
    height: auto;
    width: 100%;
  }
  .row .img-box,
  .row .text-box {
    float: none;
    width: 100%;
    text-align: center;
  }
  .box {
    float: none;
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: 5px 5px 20px 0px #1d1b1b66;
  }
  .box2,
  .box3 {
    margin-top: 7rem;
  }

  .wrapper-box {
    box-shadow: none;
  }
  .abtBox {
    float: none;
    width: 100%;
  }
  .abt-footer-left,
  .abt-footer-right {
    float: none;
    width: 100%;
    text-align: center;
  }
  .company-add,
  .form {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
  }
}

@media (min-width: 790px) and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}


.ext{
  margin-top: 10rem;
}